{% load i18n %}
{% autoescape off %}

<p>{{ site_name }} istifadəçi hesabınız üçün şifrə sıfırlamasını tələb etdiyinizə görə bu e-poçtu alırsınız..</p><br>
<p>Zəhmət olmasa aşağıdakı səhifəyə keçin və yeni şifrə təyin edin:</p><br>

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
<p>Əgər unutmusunuzsa, istifadəçi adınız: {{ user.username }}</p>
<p>Saytımızdan istifadə etdiyiniz üçün təşəkkür edirik!</p>


<b>{{ site_name }} komandası.</b>


{% endautoescape %}