    <!-- Header Start -->
{% load static %}
   {% block content %}
    <div class="container-fluid page-header">
        <div class="container">
          <div class="d-flex flex-column justify-content-center" style="min-height:200px">
            <div class="d-inline-flex text-white">
              <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'index'%}">İnformatika</a></p>
              <i class="fa fa-angle-double-right pt-1 px-3"></i>
              <p class="m-0 text-uppercase">Bütün Bölmələr</p>
            </div>
          </div>
        </div>
      </div> 
   <script></script>
    {% endblock%}
  
    <!-- Header End -->
